@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* ELECTRON TRANSPARENCY FIX */
body, html {
  background: transparent !important;
  height: 100%;
  overflow: hidden; /* Prevent scrolling on the overlay */
}
